.accordion-item {
  &_default {
    &_header {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #161616;
      transition: all 0.4s;
      border: 1px solid #e4e4e4;
      border-bottom: none;
      width: 100%;
      height: 50px;
      text-align: left;
      padding: 0 15px;

      span {
        flex: 90%;
      }

      i {
        transition: all 0.4s;
        border: solid #161616;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 5px;
        margin-bottom: 1px;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }

    &_contentWrapper {
      padding: 5px 15px;
      border: 1px solid #e4e4e4;
      border-bottom: none;
    }

    &:last-child {
      border-bottom: 1px solid #e4e4e4;
    }

    li,
    p {
      padding: 2px 0;
      list-style: none;
    }

    .active {
      background-color: #f7f7f7;

      i {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    .inactive {
      background-color: white;

      i {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}
